body{
    background-image: linear-gradient(to right, crimson,lightsalmon, palegoldenrod, lightblue);
    background-image: url(../img/rubikcube3.jpeg);
    background-repeat: repeat;
    background-attachment: fixed;
}


    
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  align-items: center;
}