body{
    background-color: rgb(251, 249, 229);
    background-image: url(img/background.jpeg);
    
}
nav{
    font-size: 20px;
}

h1{
    font-family: "americane-condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
    color: rebeccapurple;
    text-align: center;
    font-size: 90px;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  
}

figcaption{
    text-align: center;
    font-size: 15px;
}

video{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
  }

  section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
